<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @snippet.source %>
</p>

<p>
  <strong>Data:</strong>
  <%= @snippet.data %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
